apuntes.txt
bocetos.bmpr
bocetos2.bmpr
templateCommits.pdn
/Commits/Add-ejemplo1.png
/Commits/Add-ejemplo2.png
/Commits/Add-ejemplo3.png
/Commits/Delete-ejemplo1.png
/Commits/Merge-ejemplo1.png
/Commits/Merge-ejemplo2.png
/Commits/Merge-ejemplo3.png
/Commits/Fix-ejemplo1.png
/Commits/Fix-ejemplo2.png
/Commits/Fix-ejemplo3.png